# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [9]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')
print (xs[2])

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

1.0

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [10]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [11]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
print(s[:-1])
s = s[1:] + s[:-1]
print(s)

a   -1.104730
b   -0.039715
c   -1.390380
d    0.862645
e   -1.531135
dtype: float64
a   -1.104730
b   -0.039715
c   -1.390380
d    0.862645
dtype: float64
a        NaN
b   -0.07943
c   -2.78076
d    1.72529
e        NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [12]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2022,11,30,10,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 30 2022'
# or alternatively
date = '30/11/2022 10:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2023-01-09
2022-11-30 10:45:10.000015
30/11/2022 10:45:00
DatetimeIndex(['2022-11-30 10:45:00', '2022-12-01 10:45:00',
               '2022-12-02 10:45:00', '2022-12-03 10:45:00',
               '2022-12-04 10:45:00', '2022-12-05 10:45:00',
               '2022-12-06 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 10:45:01',
               '2022-11-30 10:45:02', '2022-11-30 10:45:03',
               '2022-11-30 10:45:04', '2022-11-30 10:45:05',
               '2022-11-30 10:45:06', '2022-11-30 10:45:07',
               '2022-11-30 10:45:08', '2022-11-30 10:45:09',
               ...
               '2022-11-30 11:44:50', '2022-11-30 11:44:51',
               '2022-11-30 11:44:52', '2022-11-30 11:44:53',
               '2022-11-30 11:44:54', '2022-11-30 11:44:55',
               '2022-11-30 11:44:56', '2022-11-30 11:44:57',
               '2022-11-30 11:44:58', '2022-11-30 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases.

In [ ]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

A standard series can be created and (range of) elements can be used as indexes

In [13]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2022-11-30':'2022-12-01'], '\n') # Note - includes end time

2022-11-30 10:45:00    10.695738
2022-12-01 10:45:00    10.887982
2022-12-02 10:45:00    10.053219
2022-12-03 10:45:00    10.126966
Freq: D, dtype: float64

2022-11-30 10:45:00    10.695738
2022-12-01 10:45:00    10.887982
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [14]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [15]:
entries=10
dates=pd.date_range('11/30/2022 10:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860 -0.536553
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  0.836332
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  0.007517
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619 -1.225034
2022-11-30 18:45:00  0.717824  0.331415  1.028008 -1.483116
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  0.701486

or by means of a dictionary:

In [20]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [21]:
df.head(2)

                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275

In [22]:
df.tail(4)

                            A         B         C         D
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619 -1.225034
2022-11-30 18:45:00  0.717824  0.331415  1.028008 -1.483116
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  0.701486

In [23]:
df.index

DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 11:45:00',
               '2022-11-30 12:45:00', '2022-11-30 13:45:00',
               '2022-11-30 14:45:00', '2022-11-30 15:45:00',
               '2022-11-30 16:45:00', '2022-11-30 17:45:00',
               '2022-11-30 18:45:00', '2022-11-30 19:45:00'],
              dtype='datetime64[ns]', freq='H')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.values

array([[-0.86770334,  2.86022428, -0.21999145,  1.10367331],
       [ 1.40587296,  0.12847156,  1.02889175, -0.45027548],
       [-0.66546741, -0.18319183,  0.92234528,  2.11116466],
       [-0.19595817,  0.03784077, -0.52685981, -0.53655341],
       [ 0.4414286 ,  1.31972597, -0.63872695,  0.83633222],
       [ 0.03277039, -0.03866536, -1.46447538,  0.00751718],
       [ 1.43821624,  3.19127684,  0.24257994,  2.76456342],
       [-1.02229798,  1.77897201, -0.38361855, -1.22503393],
       [ 0.71782391,  0.3314147 ,  1.02800811, -1.48311615],
       [-0.54408808, -1.08246276,  0.19154552,  0.70148571]])

In [26]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.074060   0.834361   0.017970   0.382976
std     0.899171   1.400180   0.822209   1.383787
min    -1.022298  -1.082463  -1.464475  -1.483116
25%    -0.635123  -0.019539  -0.491049  -0.514984
50%    -0.081594   0.229943  -0.014223   0.354501
75%     0.648725   1.664160   0.752404   1.036838
max     1.438216   3.191277   1.028892   2.764563

In [27]:
df.T

,2022-11-30 10:45:00,2022-11-30 11:45:00,2022-11-30 12:45:00,2022-11-30 13:45:00,2022-11-30 14:45:00,2022-11-30 15:45:00,2022-11-30 16:45:00,2022-11-30 17:45:00,2022-11-30 18:45:00,2022-11-30 19:45:00
A,-0.867703,1.405873,-0.665467,-0.195958,0.441429,0.032770,1.438216,-1.022298,0.717824,-0.544088
B,2.860224,0.128472,-0.183192,0.037841,1.319726,-0.038665,3.191277,1.778972,0.331415,-1.082463
C,-0.219991,1.028892,0.922345,-0.526860,-0.638727,-1.464475,0.242580,-0.383619,1.028008,0.191546
D,1.103673,-0.450275,2.111165,-0.536553,0.836332,0.007517,2.764563,-1.225034,-1.483116,0.701486

In [34]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860 -0.536553
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  0.836332
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  0.007517
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619 -1.225034
2022-11-30 18:45:00  0.717824  0.331415  1.028008 -1.483116
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  0.701486

In [36]:
df.sort_values(by="C")

                            A         B         C         D
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  0.007517
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  0.836332
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860 -0.536553
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619 -1.225034
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  0.701486
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165
2022-11-30 18:45:00  0.717824  0.331415  1.028008 -1.483116
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [37]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2022-11-30 10:45:00   -0.867703
2022-11-30 11:45:00    1.405873
2022-11-30 12:45:00   -0.665467
2022-11-30 13:45:00   -0.195958
2022-11-30 14:45:00    0.441429
2022-11-30 15:45:00    0.032770
2022-11-30 16:45:00    1.438216
2022-11-30 17:45:00   -1.022298
2022-11-30 18:45:00    0.717824
2022-11-30 19:45:00   -0.544088
Freq: H, Name: A, dtype: float64

2022-11-30 10:45:00   -0.867703
2022-11-30 11:45:00    1.405873
2022-11-30 12:45:00   -0.665467
2022-11-30 13:45:00   -0.195958
2022-11-30 14:45:00    0.441429
2022-11-30 15:45:00    0.032770
2022-11-30 16:45:00    1.438216
2022-11-30 17:45:00   -1.022298
2022-11-30 18:45:00    0.717824
2022-11-30 19:45:00   -0.544088
Freq: H, Name: A, dtype: float64

In [38]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2022-11-30 10:45:00":"2022-11-30 12:45:00"])

                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165
                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165

### Selection by label

In [39]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -0.867703
B    2.860224
C   -0.219991
D    1.103673
Name: 2022-11-30 10:45:00, dtype: float64

In [40]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2022-11-30 10:45:00 -0.867703  2.860224
2022-11-30 11:45:00  1.405873  0.128472
2022-11-30 12:45:00 -0.665467 -0.183192
2022-11-30 13:45:00 -0.195958  0.037841
2022-11-30 14:45:00  0.441429  1.319726
2022-11-30 15:45:00  0.032770 -0.038665
2022-11-30 16:45:00  1.438216  3.191277
2022-11-30 17:45:00 -1.022298  1.778972
2022-11-30 18:45:00  0.717824  0.331415
2022-11-30 19:45:00 -0.544088 -1.082463

In [41]:
# showing label slicing, both endpoints are included:
df.loc['2022-11-30 14:45:00':'2022-11-30 16:45:00',['A','B']]

                            A         B
2022-11-30 14:45:00  0.441429  1.319726
2022-11-30 15:45:00  0.032770 -0.038665
2022-11-30 16:45:00  1.438216  3.191277

In [43]:
# getting an individual element
print (df.loc[dates[1],'A'])
# equivalently
print (df.at[dates[1],'A'])

1.4058729609563145
2022-11-30 11:45:00
1.4058729609563145

### Selecting by position

In [44]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -0.195958
B    0.037841
C   -0.526860
D   -0.536553
Name: 2022-11-30 13:45:00, dtype: float64

                            A         B
2022-11-30 13:45:00 -0.195958  0.037841
2022-11-30 14:45:00  0.441429  1.319726

In [45]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2022-11-30 11:45:00  1.405873  1.028892
2022-11-30 12:45:00 -0.665467  0.922345
2022-11-30 14:45:00  0.441429 -0.638727

In [46]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  2.111165

                            B         C
2022-11-30 10:45:00  2.860224 -0.219991
2022-11-30 11:45:00  0.128472  1.028892
2022-11-30 12:45:00 -0.183192  0.922345
2022-11-30 13:45:00  0.037841 -0.526860
2022-11-30 14:45:00  1.319726 -0.638727
2022-11-30 15:45:00 -0.038665 -1.464475
2022-11-30 16:45:00  3.191277  0.242580
2022-11-30 17:45:00  1.778972 -0.383619
2022-11-30 18:45:00  0.331415  1.028008
2022-11-30 19:45:00 -1.082463  0.191546

In [48]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.1284715563750915

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [49]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2022-11-30 10:45:00 -0.867703  2.860224 -0.219991  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892 -0.450275
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860 -0.536553
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  0.836332
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619 -1.225034
2022-11-30 18:45:00  0.717824  0.331415  1.028008 -1.483116

In [50]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2022-11-30 10:45:00       NaN  2.860224       NaN  1.103673
2022-11-30 11:45:00  1.405873  0.128472  1.028892       NaN
2022-11-30 12:45:00       NaN       NaN  0.922345  2.111165
2022-11-30 13:45:00       NaN  0.037841       NaN       NaN
2022-11-30 14:45:00  0.441429  1.319726       NaN  0.836332
2022-11-30 15:45:00  0.032770       NaN       NaN  0.007517
2022-11-30 16:45:00  1.438216  3.191277  0.242580  2.764563
2022-11-30 17:45:00       NaN  1.778972       NaN       NaN
2022-11-30 18:45:00  0.717824  0.331415  1.028008       NaN
2022-11-30 19:45:00       NaN       NaN  0.191546  0.701486

### Setting

Combination of selection and setting of values

In [55]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [52]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5        2  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0        4  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5        6  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0        8  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

In [56]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -2.860224 -0.219991 -5  0.0        0 -1.000000
2022-11-30 11:45:00 -1.405873 -0.128472 -1.028892 -5 -0.5       -2 -0.999962
2022-11-30 12:45:00 -0.665467 -0.183192 -0.922345 -5 -1.0       -4 -0.999848
2022-11-30 13:45:00 -0.195958 -0.037841 -0.526860 -5 -1.5       -6 -0.999657
2022-11-30 14:45:00 -0.441429 -1.319726 -0.638727 -5 -2.0       -8 -0.999391
2022-11-30 15:45:00 -0.032770 -0.038665 -1.464475 -5 -2.5      -10 -0.999048
2022-11-30 16:45:00 -1.438216 -3.191277 -0.242580 -5 -3.0      -12 -0.998630
2022-11-30 17:45:00 -1.022298 -1.778972 -0.383619 -5 -3.5      -14 -0.998135
2022-11-30 18:45:00 -0.717824 -0.331415 -1.028008 -5 -4.0      -16 -0.997564
2022-11-30 19:45:00 -0.544088 -1.082463 -0.191546 -5 -4.5      -18 -0.996917

In [54]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5        2  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0        4  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5        6  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0        8  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [57]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5  0.996917

In [58]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

In [59]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5        2  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0        4  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5        6  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0        8  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

In [60]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2022-11-30 18:45:00"))

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5        2  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0        4  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5        6  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0        8  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [61]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00       NaN  2.860224       NaN  5  NaN      NaN  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5      2.0  0.999962
2022-11-30 12:45:00       NaN       NaN  0.922345  5  1.0      4.0  0.999848
2022-11-30 13:45:00       NaN  0.037841       NaN  5  1.5      6.0  0.999657
2022-11-30 14:45:00  0.441429  1.319726       NaN  5  2.0      8.0  0.999391
2022-11-30 15:45:00  0.032770       NaN       NaN  5  2.5     10.0  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0     12.0  0.998630
2022-11-30 17:45:00       NaN  1.778972       NaN  5  3.5     14.0  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0     16.0  0.997564
2022-11-30 19:45:00       NaN       NaN  0.191546  5  4.5     18.0  0.996917

In [62]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5      2.0  0.999962
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0     12.0  0.998630
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0     16.0  0.997564

In [63]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2022-11-30 10:45:00   True  False   True  False   True     True   False
2022-11-30 11:45:00  False  False  False  False  False    False   False
2022-11-30 12:45:00   True   True  False  False  False    False   False
2022-11-30 13:45:00   True  False   True  False  False    False   False
2022-11-30 14:45:00  False  False   True  False  False    False   False
2022-11-30 15:45:00  False   True   True  False  False    False   False
2022-11-30 16:45:00  False  False  False  False  False    False   False
2022-11-30 17:45:00   True  False   True  False  False    False   False
2022-11-30 18:45:00  False  False  False  False  False    False   False
2022-11-30 19:45:00   True   True  False  False  False    False   False

In [64]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224  0.000000  5  0.0      0.0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5      2.0  0.999962
2022-11-30 12:45:00  0.000000  0.000000  0.922345  5  1.0      4.0  0.999848
2022-11-30 13:45:00  0.000000  0.037841  0.000000  5  1.5      6.0  0.999657
2022-11-30 14:45:00  0.441429  1.319726  0.000000  5  2.0      8.0  0.999391
2022-11-30 15:45:00  0.032770  0.000000  0.000000  5  2.5     10.0  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0     12.0  0.998630
2022-11-30 17:45:00  0.000000  1.778972  0.000000  5  3.5     14.0  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0     16.0  0.997564
2022-11-30 19:45:00  0.000000  0.000000  0.191546  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [65]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00       NaN  2.860224       NaN  5  NaN      NaN  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5      2.0  0.999962
2022-11-30 12:45:00  1.405873  0.128472  0.922345  5  1.0      4.0  0.999848
2022-11-30 13:45:00  1.405873  0.037841  0.922345  5  1.5      6.0  0.999657
2022-11-30 14:45:00  0.441429  1.319726  0.922345  5  2.0      8.0  0.999391
2022-11-30 15:45:00  0.032770  1.319726  0.922345  5  2.5     10.0  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0     12.0  0.998630
2022-11-30 17:45:00  1.438216  1.778972  0.242580  5  3.5     14.0  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0     16.0  0.997564
2022-11-30 19:45:00  0.717824  0.331415  0.191546  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [66]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.160830
B          0.834361
C          0.017970
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2022-11-30 10:45:00    1.234319
2022-11-30 11:45:00    1.580457
2022-11-30 12:45:00    1.581933
2022-11-30 13:45:00    1.830669
2022-11-30 14:45:00    2.445974
2022-11-30 15:45:00    2.432668
2022-11-30 16:45:00    3.695815
2022-11-30 17:45:00    3.410170
2022-11-30 18:45:00    4.010687
2022-11-30 19:45:00    3.865987
Freq: H, dtype: float64

In [67]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991   5   0.0        0  1.000000
2022-11-30 11:45:00  1.405873  2.988696  0.808900  10   0.5        2  1.999962
2022-11-30 12:45:00  0.740406  2.805504  1.731246  15   1.5        6  2.999810
2022-11-30 13:45:00  0.544447  2.843345  1.204386  20   3.0       12  3.999467
2022-11-30 14:45:00  0.985876  4.163071  0.565659  25   5.0       20  4.998858
2022-11-30 15:45:00  1.018646  4.124405 -0.898817  30   7.5       30  5.997906
2022-11-30 16:45:00  2.456863  7.315682 -0.656237  35  10.5       42  6.996536
2022-11-30 17:45:00  1.434565  9.094654 -1.039855  40  14.0       56  7.994670
2022-11-30 18:45:00  2.152389  9.426069 -0.011847  45  18.0       72  8.992234
2022-11-30 19:45:00  1.608300  8.343606  0.179698  50  22.5       90  9.989152

In [68]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  2.860224 -0.219991  5  0.0        0  1.000000
2022-11-30 11:45:00  1.405873  0.128472  1.028892  5  0.5        2  0.999962
2022-11-30 12:45:00 -0.665467 -0.183192  0.922345  5  1.0        4  0.999848
2022-11-30 13:45:00 -0.195958  0.037841 -0.526860  5  1.5        6  0.999657
2022-11-30 14:45:00  0.441429  1.319726 -0.638727  5  2.0        8  0.999391
2022-11-30 15:45:00  0.032770 -0.038665 -1.464475  5  2.5       10  0.999048
2022-11-30 16:45:00  1.438216  3.191277  0.242580  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.022298  1.778972 -0.383619  5  3.5       14  0.998135
2022-11-30 18:45:00  0.717824  0.331415  1.028008  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.544088 -1.082463  0.191546  5  4.5       18  0.996917

In [69]:
df.apply(lambda x: x.max() - x.min())

A           2.460514
B           4.273740
C           2.493367
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [70]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2022-11-30 10:45:00    2.860224
2022-11-30 11:45:00    1.534345
2022-11-30 12:45:00   -0.848659
2022-11-30 13:45:00   -0.158117
2022-11-30 14:45:00    1.761155
2022-11-30 15:45:00   -0.005895
2022-11-30 16:45:00    4.629493
2022-11-30 17:45:00    0.756674
2022-11-30 18:45:00    1.049239
2022-11-30 19:45:00   -1.626551
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [71]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [72]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [73]:
data['timens']

0          59371.666667
1          59372.500000
2          63848.333333
3          63965.833333
4          69020.833333
               ...
1310715    19061.666667
1310716    19084.166667
1310717    19100.000000
1310718    19225.000000
1310719    19065.000000
Name: timens, Length: 1310720, dtype: float64

In [74]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [75]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0 -0.025768  0.013586 -0.834712  0.561659
1  1.065235  1.189451  0.156468 -0.259415
2  0.129514  0.173163 -0.434272  0.447206
3  0.841221 -0.081464  0.349724  0.919587
4 -0.478394  1.511219  0.122281  0.840256
5 -1.449972  0.068786 -1.357646  0.054799
6 -0.457335  0.919877  1.555724  1.894882
7  0.264867  0.926182  0.081970  0.394754
8 -1.430873 -0.205755  1.668489  0.317851
9 -2.391503  0.791869 -0.034224  1.227322

In [76]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0 -0.025768  0.013586 -0.834712  0.561659
 1  1.065235  1.189451  0.156468 -0.259415
 2  0.129514  0.173163 -0.434272  0.447206,
           0         1         2         3
 3  0.841221 -0.081464  0.349724  0.919587
 4 -0.478394  1.511219  0.122281  0.840256
 5 -1.449972  0.068786 -1.357646  0.054799
 6 -0.457335  0.919877  1.555724  1.894882,
           0         1         2         3
 7  0.264867  0.926182  0.081970  0.394754
 8 -1.430873 -0.205755  1.668489  0.317851
 9 -2.391503  0.791869 -0.034224  1.227322]

In [77]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0 -0.025768  0.013586 -0.834712  0.561659
1  1.065235  1.189451  0.156468 -0.259415
2  0.129514  0.173163 -0.434272  0.447206
3  0.841221 -0.081464  0.349724  0.919587
4 -0.478394  1.511219  0.122281  0.840256
5 -1.449972  0.068786 -1.357646  0.054799
6 -0.457335  0.919877  1.555724  1.894882
7  0.264867  0.926182  0.081970  0.394754
8 -1.430873 -0.205755  1.668489  0.317851
9 -2.391503  0.791869 -0.034224  1.227322

In [90]:
# appending a single row (as a Series)
s = rdf.iloc[3]
print(s)
rdf.append(s, ignore_index=True)

0    0.841221
1   -0.081464
2    0.349724
3    0.919587
Name: 3, dtype: float64

/tmp/ipykernel_5802/3050697164.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rdf.append(s, ignore_index=True)

           0         1         2         3
0  -0.025768  0.013586 -0.834712  0.561659
1   1.065235  1.189451  0.156468 -0.259415
2   0.129514  0.173163 -0.434272  0.447206
3   0.841221 -0.081464  0.349724  0.919587
4  -0.478394  1.511219  0.122281  0.840256
5  -1.449972  0.068786 -1.357646  0.054799
6  -0.457335  0.919877  1.555724  1.894882
7   0.264867  0.926182  0.081970  0.394754
8  -1.430873 -0.205755  1.668489  0.317851
9  -2.391503  0.791869 -0.034224  1.227322
10  0.841221       NaN       NaN       NaN
11 -0.081464       NaN       NaN       NaN
12  0.349724       NaN       NaN       NaN
13  0.919587       NaN       NaN       NaN
14  0.841221 -0.081464  0.349724  0.919587

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo' , 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')